{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create a New Page</h1>

    {% if is_duplicate %}
        <div class = "error_msg">
        --- illegal submission: duplicate entry ---
        </div>
    {% endif %}

    <div>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            {{ NewPageForm.as_p }}
            <input type="submit" value="submit">
        <form>
    </div>

{% endblock %}
